@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.Footer{
    width: 100vw;
    height: 100vh;
    background: rgba(255, 204, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.janela{
    width: 800px;
    height: 430px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 3px solid black;
    background: rgba(217, 217, 217, 1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.233);
    position: absolute;
    top: 30px;
}

#titlejanela{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    color: black;
}

#fechar{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    background: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

#fechar:hover{
    border: 1px solid red;
    color: red;
    cursor: pointer;
    transition: 0.5s;
}

#buttoncontato{
    width: 300px;
    height: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    align-items: center;
    border: 3px solid black;
    background: rgba(217, 217, 217, 1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.233);
    cursor: pointer;
}

.footer{
    border-top: 2px solid black;
    height: 330px;
    width: 100vw;
    position: absolute;
    bottom: 0px;
}


@media (max-width: 768px) {
    .Footer{
        height: 800px;
    }

    .janela{
        width: 350px;
        height: 300px;
    }

    #titlejanela{
        font-size: 20px;
        text-align: center;
    }

    #buttoncontato{
        width: 200px;
        height: 60px;
    }
}