@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    background: rgba(255, 204, 0, 1);
    font-family: "Pixelify Sans", sans-serif;
}

h1 {
    font-size: 30px;
    color: rgb(44, 7, 51);
}

.header {
    overflow: hidden;
}

.header-nav {
    width: 100%;
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(255, 204, 0, 1);
    box-sizing: border-box;
}

.menu-toggle {
    display: none;
}

a {
    text-decoration: none;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}

a:hover {
    color: rgb(44, 7, 51);
    transition: 0.8s;
}

#Button-link {
    width: 230px;
    height: 50px;
    border: none;
    border: 3px solid black;
    background: rgba(217, 217, 217, 1);
    color: rgb(0, 0, 0);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-logo {
    width: 400px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-menu {
    width: 760px;
    height: 100%;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Estilo para telas menores */
@media (max-width: 768px) {
    .header-nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px 20px;
    }

    .nav-logo {
        width: 100%;
        justify-content: space-between;
    }

    .nav-menu {
        width: 100%;
        display: none;
        flex-direction: column;
        background-color: rgba(255, 204, 0, 1);
        padding: 10px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        align-items: flex-start;
    }

    .nav-menu.open {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        border: none;
        background: none;
        font-size: 30px;
        cursor: pointer;
    }

    .menu-item {
        margin-left: 25px;
    }

    .nav-button {
        display: none;
    }
}
